.checkboxContainer {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
}
.custom-checkbox-root .MuiSvgIcon-root {
  width: 50px;
  height: 50px;
}
.MainComponent {
  padding: 2rem;
}
.containerDiv {
  padding: 5rem;
  min-height: 600px;
}
.containerDiv h1 {
  margin-top: 50px;
  font-weight: 600;
  text-align: center;
}
.text {
  text-align: center;
  font-size: 18px;
  color: rgb(81, 83, 85);
  font-weight: 400;
  margin-top: 30px;
  letter-spacing: 1px;
}
.questionNumber {
  text-align: initial;
  color: rgb(81, 83, 85);
  font-size: 28px;
  font-weight: 600;
}
.selectDiv {
  padding: 2rem;
  padding-top: 5rem;
  text-align: -webkit-center;
  width: 50%;
  margin-left: 25%;
}
.checkboxContainer.FormControlLabel label {
  font-size: 22px;
}
.formControlLabel {
  font-size: 20px;
  color: rgb(109, 105, 101);
  font-weight: 600;
  margin-left: 20px;
  letter-spacing: 1px;
  margin-top: 16px;
}
.back {
  padding: 12px 5rem;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: 4px solid yellow;
  border-radius: 45px;
  margin-right: 50px;
}
.next {
  padding: 12px 5rem;
  background-color: yellow;
  font-size: 20px;
  font-weight: 700;
  border: 4px solid yellow;
  border-radius: 45px;
}
.buttonCls {
  text-align: end;
  margin-top: 6rem;
}
